dist: trusty

language: android
android:
  components:
    - build-tools-28.0.3
    - android-24

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - ./gradlew clean build report -Dsigning.keystore.file=$TRAVIS_BUILD_DIR/config/keystore/release.jks -Dsigning.keystore.password=$ANDROID_KEYSTORE_PASSWORD -Dsigning.key.alias=Release -Dsigning.key.password=$ANDROID_KEY_PASSWORD

after_success:
  - bash <(curl -s https://codecov.io/bash) -t $CODECOV_DEPLOY_TOKEN
  - export JACOCO_SOURCE_PATH=core/src
  - ./cc-test-reporter format-coverage core/build/reports/jacoco/report/report.xml -t jacoco -o coverage/codeclimate.core.json
  - export JACOCO_SOURCE_PATH=desktop/src
  - ./cc-test-reporter format-coverage desktop/build/reports/jacoco/report/report.xml -t jacoco -o coverage/codeclimate.desktop.json
  - ./cc-test-reporter sum-coverage coverage/codeclimate.*.json -p 2
  - ./cc-test-reporter upload-coverage

before_deploy:
  - ./gradlew installer

deploy:
  provider: releases
  api_key: $GITHUB_DEPLOY_OAUTH_TOKEN
  file_glob: true
  file:
    - "$TRAVIS_BUILD_DIR/desktop/build/installer/Warcraft-MacOS.zip"
    - "$TRAVIS_BUILD_DIR/desktop/build/installer/Warcraft-Windows.zip"
    - "$TRAVIS_BUILD_DIR/android/build/installer/Warcraft-Android.apk"
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
